# pyenv
.python-version

### VisualStudioCode template
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Environments
.venv
venv/
